h1 {
    background-color: #2a6ca51c;
    /* height: 100px; */
    padding: 0px 98px 0px 18px;
    text-align: center;
}
p b {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
div p b {
    color: blue;
    background-color: black;
}
div span p b{
    color: brown;
    background-color: yellow;
}
img {
width: 50%;
}
strong {
   font-size: 5em;
   font-family: Georgia;
}
#cutting {
color: firebrick;
}